<!DOCTYPE html>
<html>
<head>
  <title>RubyOff</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !signed_in? %>
    <div class="landing">
      <div class="logo">
        <%= image_tag "logo2.png" %>
      </div>
      <%= render "layouts/errors" %>
      <%= yield %>
    </div>
  <% else %>
    <header class="header">
      <nav class="header-nav group">
        <h1 class="header-logo">
          <a href="#">RubyOff</a>
        </h1>

        <ul class="header-list group">
            <li>
              <a href="#"><%= current_user.username %></a>
              <ul class="profile-drop-down">
                <li><%= link_to "Log out", session_url, method: :delete %></li>
              </ul>
            </li>
        </ul>
      </nav>
    </header>

    <main class="content group">
      <section class="content-sidebar">

      </section>
      <section class="content-main">
        <%= render "layouts/errors" %>
        <%= yield %>
      </section>
    </main>
  <% end %>
</body>
</html>
